.signupContainer{
    display : flex;
    justify-content: center;
    align-items: center;
}
.signupBox{
    width:395px;
    height:465px;
    background-color: rgb(248, 248, 248);
    border: 2px solid rgb(244, 240, 240);
    box-shadow:  10px 10px 8px 10px #888888;
    margin:5%;
}
.signupText{
    /* font-weight: bold; */
    font-size: 1.2em;
    color: rgb(72, 72, 72); 
}
.loginText{
    /* font-weight: bold; */
    font-size: 1.2em;
    color: rgb(72, 72, 72); 
    /* color:#234f1e; */
}
.appLogo{
    width: 45%;
    height: 18%;
    margin: 20px;
    margin-bottom: 10px;
    mix-blend-mode: multiply;
}
.btn button{
    padding:15px;
    width:75%;
    background-color: white;
    border-radius: 5px;
    outline:none;
    font-weight: bold;
    border:1px solid #ff7400;
    cursor:pointer;
    color:#ff7400;
    font-weight: bold;
}
.btn button:hover{
    background-color: #ff7400;
    border-radius: 5px;
    outline:none;
    border:1px solid grey;
    color:floralwhite;
    font-weight: bold;
}

.btnLogin button{
    padding:15px;
    width:75%;
    background-color: white;
    border-radius: 5px;
    outline:none;
    font-weight: bold;
    border:1px solid #234f1e;
    cursor:pointer;
    color:#234f1e;
    font-weight: bold;
}
.btnLogin button:hover{
    background-color: #234f1e;
    border-radius: 5px;
    outline:none;
    border:1px solid grey;
    color:floralwhite;
    font-weight: bold;
}
